/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#welcome {
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1rem;
}

.landingPageImage {
	height: 100vh;
	background-image: url(./images/landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.front-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

#about-me {
	font-family: 'Manrope', sans-serif;
}

#about-me-heading-section {
	position: relative;
	min-height: 150px;
	background: url('./images/about-me.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#my-story-heading {
	font-family: 'Courgette', cursive;
	letter-spacing: 0.3rem;
}

.my-story-body {
	font-family: 'Manrope', sans-serif;
	letter-spacing: 0.1rem;
}

#projects {
	font-family: 'IBM Plex Mono', monospace;
	letter-spacing: 0.5rem;
}

#projects-heading-section {
	position: relative;
	min-height: 150px;
	background: url('./images/projects.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#tools {
	font-family: 'IBM Plex Mono', monospace;
	letter-spacing: 0.5rem;
}

#tools-heading-section {
	position: relative;
	min-height: 150px;
	background: url('./images/tools.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#about-me-section {
	background-color: #0f1015;
}

#projects-section {
	background-color: #0a0b0b;
	min-height: 75vh;
}

#tools-section {
	background-color: #101111;
	min-height: 75vh;
}

#body {
	background-color: #0f1015;
}

#navbar-logo {
	width: 35px;
	height: 35px;
}